.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.bioKuba {
    float: none;
    text-align: center;
    margin-top: 80px;
}

.bioKuba p {
    line-height: 1.3em;
}


.container, .container-fluid {
    padding-left:15px;
    padding-right:0px;
}

.c-layout-footer.c-layout-footer-1 .c-postfooter {
    background: #f0f0f0;
}

.c-layout-footer.c-layout-footer-1 .c-postfooter .c-copyright {
    color: #808184;
}

.c-layout-go2top {
    margin-right: 40px;
    margin-bottom: 40px;
}